# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
api/node_modules/
frontend/node_modules

# production
frontend/build
api/build/
